@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

body {
	margin: auto 0;
	background: url(images/background-for-project-1.1.png);
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	padding: 3em;
}

#headergame {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #79a22d;
}
#triviaheader {
	margin-top: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.toparea {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.gameinfo {
	display: flex;
	flex-direction: row;
	width: 75%;
}
.gameinfobuttons {
	margin-top: 4em;
	font-size: 0.4em;
	text-transform: uppercase;
	flex: 1;
	text-align: center;
}
.topbuttons {
	padding: 1em;
	font-size: 1em;
	text-transform: uppercase;
	flex: 1;
	text-align: center;
	text-decoration: underline;
}
#question {
	border: 2px black solid;
	margin: 1em 2em 1em 2em;
	padding: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.answerbuttons {
	display: grid;
	margin: 0 auto;
	grid-template-rows: 30% 30% 30% 30%;
	padding: 1em;
	grid-gap: 2.2em;
}

.stylebuttons {
	background-image: linear-gradient(#faec5f, #f6be47);
	box-shadow: 0.2em 0.2em 0.8em rgba(0, 0, 0, 0.5);
}
#winnermessage {
	text-align: center;
	font-size: 1em;
	display: none;
}

#loosermessage {
	display: none;
	margin: 0 auto;
	text-align: center;
}

.startbutton {
	width: 25%;
	margin: auto;
	margin-top: 2em;
	padding: 0.2em;
}
#rules {
	text-align: center;
	margin-top: 4em;
	font-size: 3em;
}

.rulesofgame {
	text-align: center;
	font-size: 2em;
}
